html{
    color: darkblue;
    font: poppins;
}


body {
    font-family: 'Poppins';font-size: 22px;
}
img{
    width: 240px;
    height: 180px;
}
.menu-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.menu-item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.item-info{
    display:flex;
    flex-direction: row;
    
}
.flexbox_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
}
h1 span {
    border-bottom: 6px solid yellow;
    padding-bottom: 2px;
    display: inline-block;
    
  }
.menu_flexbox{
    display: flex;
    flex-direction: row;
    
}

h1::after {
    content: '';
    display: block;
    height: 5px; 
    width: 20%; 
    background-color: burlywood;
    position: absolute;
    bottom: -10px;
    left: 50%; 
    transform: translateX(-50%); 
  }
  
   .button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  } 
  
  button {
    padding: 10px 20px;
    border: 2px solid burlywood;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px; 
  }
  button:hover {
    background-color: lightyellow; 
  }
  button:last-child {
    margin-right: 0;
  }
.active {
    background-color: #F4BF96;
  }
  .menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px; 
  }
  .menu-item {
    position: relative;
    width: 400px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: right;
  }
 
  .menu-item .item-info {
    position: relative;
  }
  
  .menu-item img {
    width: 50%;
    height: auto;
    margin-bottom: 5px;
    float: left;
    border: 2px solid burlywood;
    border-radius: 5px;
  }
  
  .menu-item .info-container {
    display: flex;
    align-items: baseline;
  }
  
  .menu-item h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
    position: relative;
  }
  
  .menu-item .price {
    font-weight: bold;
    font-size: 1em;
    color: burlywood;
    margin-bottom: 1px;
    position: relative;
  }
  
  .menu-item .price::after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background-color: burlywood;
    position: absolute;
    bottom: -3px;
    left: 0;
  }
